{% extends "layout.html" %}

{% block title %}
    password
{% endblock %}

{% block body %}
    <form action="/password" method="post"  autocomplete="off">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="oldpassword" placeholder="old Password" type="password" autocomplete="new-password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newpassword" placeholder="New Password" type="password" autocomplete="new-password">
        </div>
        <button class="btn btn-primary" type="submit">change</button>
    </form>
{% endblock %}