{% extends "layout.html" %}

{% block title %}
    save
{% endblock %}

{% block body %}
{% if  image %}
    
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" >#</th>
            <th scope="col">Saved Recipe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for img in image %}
        <tr>
            <th class="transparent-col">{{ loop.index }}</th>
            <td>
                <img class="img-fluid" src="{{ img }}" alt="recipe Image">
            </td>
            <td>
                <form  method="post" action="/save" style="display: inline;">
                    <input type="hidden" class="delete" name="delete" value="{{ img }}">
                    <button class="btn btn-primary btn-lg" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if not image %}
<h1 style="color: white;"><b>😱</b> NO saved recipe</h1>
<br>
<h1 style="color: white;"><b>😱</b> NO saved recipe</h1>
<br>
<h1 style="color: white;"><b>😱</b> NO saved recipe</h1>
{% endif %}

<style>
    .table th, .table td {
        padding: 15px; /* Padding for cell content */
    }

    .transparent-col {
        font-size: 100px;
         /* Optional: remove borders for a cleaner look */
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        margin: 10px; /* Space around the image */
    }
</style>

{% endblock %}