{% extends "layout.html" %}

{% block title %}
search
{% endblock %}

{% block body %}
<form method="POST" action="/" style="display: flex; align-items: center; justify-content: center;">
    <input type="text" name="query" style="padding: 15px; width: 60%; font-weight: bold; height: 50px; margin: 0 5px;">
    <button type="submit" class="btn btn-primary" style="padding: 15px; height: 50px; margin: 0 5px; justify-content: center;"><b>search</b></button>
</form>
<br>
<br>

<table class="table">
   <tbody>
       {% for img in image %}
       <tr>
           <th class="transparent-col">
               <form class="save-image-form" method="post" style="display: inline;">
                   <input type="hidden" class="save" name="save" value="{{ img }}">
                   <button class="btn btn-primary btn-lg save-button" type="submit">Save</button>
               </form>
           </th>
           <td>
               <img class="img-fluid" src="{{ img }}" alt="recipe Image">
           </td>
       </tr>
       {% endfor %}
   </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
   $(document).ready(function() {
      $('.save-image-form').submit(function(event) {
         event.preventDefault();

         const form = $(this); // 'this' refers to the current form
         const button = form.find('.save-button'); // Find the button within the current form
         
         $.ajax({
            type: 'POST',
            url: '/',
            data: form.serialize(),
            success: function(response) { // Assuming you are returning a response from the server
                button.text('Saved'); // Change button text to 'Saved'
                button.prop('disabled', true); // Disable the button
                button.removeClass('btn-primary'); // Optional: remove primary style
                button.addClass('btn-success'); // Optional: change to success style
            }
         });
      });
   });
</script>

{% endblock %}